{% extends "animal_tmp/base.html" %}
{% block content %}
{% load static %}
 <div class="section-heading">
 </div>
 <div class="col-lg-12">
     <div class="row display_animal">
         <div class="col-lg-12 display_pagination">
             <div class="row">
                 {% for animal in animals %}
                 <div class="col-lg-3 col-md-6 mb-4 post">
                     <div class="card blog-box-content h-55">
                           <a href="{% url 'post-detail' animal.id %}">
                         <div class="show-animal-all-details animal_model">
                             <div class="row">
                                 <div class="col-md-12">
                                     <div  style="height: auto; width:100% "  id="animal-details">

                                         <div class="animal_img "
                                              style=" background-image: url({{ animal.front_image.url }});
                                            background-size: cover;
                                            background-position: center center;
                                            min-height: 200px;
                                            width: 100%;">&nbsp;</div>
                                     </div>
                                 </div>
                             </div>
                             <div class="form-group">
                             </div>
                             <div class="col-md-12">
                                 <div class="row">
                                     <div class="col-md-6 col-6 pr-0" style="">
                                         <p style="color: #FF9933;"><b>{{ animal.en_type }}</b></p>
                                     </div>
                                     <div class="col-md-6 col-6" style="">
                                         <p style="color: #FF9933;"><b>{{ animal.animal_price }} Rs</b></p>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-12">
                                 <div class="row">
                                     <div class="col-md-6 col-6">
                                         <p>Animal Milk</p>
                                     </div>
                                     <div class="col-md-6 col-6">
                                         <p>{{ animal.animal_milk }} Lt.</p>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-12">
                                 <div class="row">
                                     <div class="col-md-6 col-6">
                                         <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: inline-block; max-width: 100%;">
                                             <b>{{ animal.user_name }}</b></p>
                                     </div>
                                     <div class="col-md-6 col-6">
                                         <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: inline-block; max-width: 100%;">
                                             {{ animal.user_contact }}</p>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-12">
                                 <div class="row">
                                     <div class="col-md-6">
                                         <p class=""style="color: #FF9933;">Information</p>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-12">
                                 <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: inline-block; max-width: 100%;">
                                     {{ animal.animal_info }}
                                 </p>
                             </div>
                         </div>
                           </a>
                         <div class="card-footer">
                             <div class="row">
                                 <div class="col-md-12 like_unlike_parents d-flex align-items-center justify-content-around" style="padding: 0px;">
                                     <div class="like-jon" style=" display: inline-block;">
                                         <a href="JavaScript:void(0);" class='pointer'>
                                             <span class="like_unlike_animal" data-animals-id="{{ animal.pk }}" change_like="0"
                                                   data-like-unlike-url="{% url 'ajax_like_unlike' %}" change_like_id="">
                                                 <i class="fa fa-thumbs-up like-btn
                                                 {% for like in like_unlike %}
                                                 {% if like.author_id == user.id and like.animal_id == animal.pk and like.like_unlike == 0 %}
                                                   active_like {% endif %} {% endfor %} " style=" font-size: 25px;" ></i>
                                             </span>
                                         </a>
                                         <span class="display_like">{{ animal.totallikes }}</span>
                                     </div>
                                     <div class="unlike-jon" style="display: inline-block;">
                                         <a href="JavaScript:void(0);"class='pointer'>
                                             <span class="like_unlike_animal"data-animals-id="{{ animal.pk }}" change_like="1"
                                                   data-like-unlike-url="{% url 'ajax_like_unlike' %}">
                                                 <i class="fa fa-thumbs-down dislike-btn
                                                 {% for like in like_unlike %}
                                                 {% if like.author_id == user.id and like.animal_id == animal.pk and like.like_unlike == 1 %}
                                                   active_like {% endif %} {% endfor %} " style="font-size: 25px" ></i>
                                             </span>
                                         </a>
                                         <span class="display_unlike">{{ animal.totalunlikes }}</span>
                                     </div>
                                     <div class="like-comment " style="display: inline-block;">
                                         <a href="JavaScript:void(0);">  <span class="comment_animal animal_comment"
                                                                               data-animals-id="{{ animal.pk }}"
                                                                               data-animal-comment-url="{%  url 'ajax_comments' %}">
                                             <i class="fa fa-comments-o" style="font-size: 25px "></i>
                                         </span>
                                         </a>
                                         <span class="display_comment">{{ animal.totalcomment }}</span>
                                     </div>
                                     <div class="like-jon" style="display: inline-block;">
                                         <span class="badge " style=" font-size: 10px; background-color: #FF9933;  font-style:italic;color:#ffffff;border-radius: 20px;  width:50px;padding-top:5px;padding-left:3px; margin-left: -5px; padding-right: 5px;" >
                                             SOLD
                                         </span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 {% endfor %}
             </div>
         </div>
     </div>
 </div>


    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
      <div class="modal-dialog animal_comments_display" role="document">

           <!--  content -->
      </div>
    </div>
<div class="text-center">
    <a href="javascript:void(0);"style="display: none;" class="btn btn-default btn-rounded mb-4 comment_form" data-toggle="modal"
       data-target="#modalContactForm">comment form
    </a>
</div>
<script>

$(document).on('click','.like_unlike_animal', function(){
    var animalId = $(this).attr("data-animals-id");
    var url = $(this).attr("data-like-unlike-url");
     var like_unlike= $(this).attr('change_like');
     var current = $(this);
    $(".lodder_display_maddel").show();
    $.ajax({                       // initialize an AJAX request
        url: url,
        type: 'POST',
        data: {
        animalId: animalId,
        like_unlike:like_unlike,
        csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response){
         if (like_unlike ==0){
            alert(response)
            }
         else {
            alert(response)
            }
        location.reload(true);
        },
        error: function () {
            alert("error");
            location.reload(true);
        }
      });

});
$(document).on('click','.animal_comment', function(){
      var current = $(this);
      var animalId = current.attr("data-animals-id");
    var url = current.attr("data-animal-comment-url");
    $(".comment_form").click();

    $.ajax({                       // initialize an AJAX request
        url: url,
        type: 'POST',
        data: {
        animalId: animalId,
        csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response){
         $(".animal_comments_display").html(response);
        },
        error: function () {
            alert("error");
        }
      });
  });

  $(document).on('click','.comment-data', function(){
    var current = $(this);
    var name = $("#user-name").val();
    var user_contact = $("#user-contact").val();
    var comment = $("#user-comment").val();
    var animalId = $('#comment-form').attr("data-animals-comment-id");
    var url = $('#comment-form').attr("data-comment-save-url");
    $(".lodder_display_maddel").show();
        $.ajax({                       // initialize an AJAX request
        url: url,
        type: 'POST',
        data: {
        animalId: animalId,
        name:name,
        user_contact:user_contact,
        comment:comment,
        csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response){
         alert(response + ': Your comment has been sent for approval')
         $('#modalContactForm').modal('hide');
          location.reload(true);
        },
        error: function () {
            alert("error");
            $('#modalContactForm').modal('hide');
             location.reload(true);
        }
      });
 });
</script>
<div class="lodder_display_maddel">

    <i class="fa fa-spinner fa-pulse fa-3x fa-fw animal-loader"></i>

  </div>
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}